.burger-constructor{
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

  &__scroll-bar{
    height: 464px;
      // scrollbar
  overflow: auto;
  overflow-x: hidden; /* прокрутка по горизонтали */
  overflow-y: scroll; /* прокрутка по вертикали */

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
  }
  }

  ul{
    padding: 0;
    li{
      // width: 536px;
      ul{
        padding: 0;
        li{
          // width: 536px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-button{
      button{
        Width: 215px;
        height: 64px;
      }
    }
    span{
      // height: 64px;
      display: flex;
      align-items: center;
      p{
        margin-right: 9.5px;
      }
      svg{
        width: 33px;
        height: 33px;
      }
    }
  }
}

