.burgerConstructor{
  display: grid;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.scrollBar{
  height: 464px;
overflow: auto;
overflow-x: hidden; /* прокрутка по горизонтали */
overflow-y: scroll; /* прокрутка по вертикали */
}

.scrollBar::-webkit-scrollbar{
  width: 12px;
}
.scrollBar::-webkit-scrollbar-track{
  background: #2F2F37;
}
.scrollBar::-webkit-scrollbar-thumb{
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}

.burgerConstructor ul {
  padding: 0;
}
.burgerConstructor ul li {
   width: 536px;
}
.burgerConstructor ul li ul{
  width: 580px;
  padding: 0;
}
.burgerConstructor ul li ul li{
  width: 536px;
  display: flex;
  align-items: center;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bottomButton button{
    Width: 215px;
    height: 64px;
}
.bottom span{
  height: 64px;
  display: flex;
  align-items: center;
}
.bottom span p{
  margin-right: 9.5px;
}
.bottom span svg{
  width: 33px;
  height: 33px;
}