.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 1240px;

  margin-top: 40px;


  &__title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: auto;

    margin-bottom: 20px;


    &-text{
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1;

      color: $text__color_prior;
    }    
  }

  &__app{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
  }
}