@font-face {
  font-family: 'Jet Brains Mono';
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");  
}
@font-face {
  font-family: 'Jet Brains Mono';
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
}