$text__color_prior: rgba(242, 242, 243, 1);
$text__color_sub: rgba(133, 133, 173, 1);

$background__color_prior: rgba(19, 19, 22, 1);
$background__color_sub: rgba(28, 28, 33, 1);
$background__color_input: rgba(47, 47, 55, 1);

$color_accent: rgba(76, 76, 255, 1);
$color_error: rgba(229, 43, 26, 1);