.main {
  display: flex;
  flex-direction: column;
  width: 520px;
}

.main h4{
  text-align: center;
}

.main ul{
  display: flex;
  padding: 0;
}

.main ul li:first-child {
  min-width: 120px;
}

.main ul li {
  min-width: 112px;
  height: 44px;
}

.main ul li h4{
  color: #8585AD;
}

.main ul li p{
  color: #8585AD;
  text-align: center;
  line-height: 1.5;
}