.scrollBar{
  display: flex;
  flex-direction: column ;
  margin-top: 120px;
  width: 480px;

  overflow: auto;
  overflow-x: hidden; /* прокрутка по горизонтали */
  overflow-y: scroll;

}
.profileOrders{
  display: flex;
  flex-direction: column ;
  margin-top: 120px;
  width: 830px;
  height: 810px;
  margin-top: 40px;

  overflow: auto;
  overflow-x: hidden; /* прокрутка по горизонтали */
  overflow-y: scroll;
}

.profileOrders::-webkit-scrollbar{
  width: 12px;
}
.profileOrders::-webkit-scrollbar-track{
  background: #2F2F37;
}
.profileOrders::-webkit-scrollbar-thumb{
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}

.scrollBar::-webkit-scrollbar{
  width: 12px;
}
.scrollBar::-webkit-scrollbar-track{
  background: #2F2F37;
}
.scrollBar::-webkit-scrollbar-thumb{
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}