.burgerIngridients{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.scrollBar{
overflow: auto;
overflow-x: hidden; /* прокрутка по горизонтали */
overflow-y: scroll; /* прокрутка по вертикали */
}

.scrollBar::-webkit-scrollbar{
  width: 12px;
}
.scrollBar::-webkit-scrollbar-track{
  background: #2F2F37;
}
.scrollBar::-webkit-scrollbar-thumb{
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}

.main ul{
  display: grid; 
  grid-template-columns: 272px 272px; 
  grid-template-rows: 1fr; 
  gap: px 0px; 
  grid-template-areas: 
    ". ."; 
  padding: 0;
}

.main ul li{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  width: 272px;
}

.main ul li span{
  display: flex;
}

.mainImg{
  object-fit: cover;
  object-position: 0 0;
}